// Configurazione minimale per il test
params {
    outdir = 'test_results'
    fasta = 'test_data/test_genome.fa'
}

process {
    cpus = 1
    memory = '2.GB'
    time = '30.m'
    
    withName: 'BOWTIE2_BUILD' {
        cpus = 2
        memory = '4.GB'
        container = 'quay.io/biocontainers/bowtie2:2.4.4--py39hbb4e92a_0'
    }
    
    withName: 'BOWTIE2_ALIGN' {
        cpus = 2
        memory = '4.GB'
        container = 'quay.io/biocontainers/mulled-v2-ac74a7f02cebcfcc07d8e8d1d750af9c83b4d45a:1744f68fe955578c63054b55309e05b41c37a80d-0'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

// Aumenta il timeout per download dei container
docker.registry = 'quay.io'
